<h1>New Article</h1>

<%= form_for :article, url: articles_path do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :text %>
		<%= f.text_area :text, required: true %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<p style="color: red;">
	<%= @error %>
</p>

<%= link_to "Back", :back %>